<header>
  <video id="hero-video"
        class="video-container"
        autoplay
        muted
        loop
        playsinline
        webkit-playsinline
        preload="auto"
  >
    <source src="{{ '/assets/video/hero-pingpong-mobile.mp4' | relative_url }}" type="video/mp4">
  </video>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Atomic AI</h1>
      <hr>
      <p>Transforming businesses, one atomic innovation at a time.</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>
