 <header>
    <video id="hero-video" class="video-container" autoplay muted playsinline>
        <source src="{{ '/assets/video/hero.mp4' | relative_url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Atomic AI</h>
            <hr>
            <p>Transforming businesses, one atomic innovation at a time.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
